.product-container{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.btn-regular{
    background-color: goldenrod;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}